---
import { Image } from "astro:assets";
import { formatDate } from "../utils/text-formatters";
const { frontmatter, pdfUrl } = Astro.props;
const { title, subtitle, date, description, image } = frontmatter;
---

<article
  class="my-6 flex w-11/12 max-w-[400px] flex-col items-center rounded-3xl bg-neutral font-body text-primary-800 shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] sm:mx-4 sm:h-[400px] sm:max-w-[560px] sm:flex-row sm:items-start 2xl:h-[460px] 2xl:max-w-[680px] 2xl:mx-7 2xl:my-8"
>
  <Image
    src={image.src}
    alt={image.alt}
    class="aspect-[5/3] h-auto w-full rounded-3xl rounded-t-3xl object-cover sm:h-full sm:w-[49%]"
    format="avif"
    quality="max"
    height="300"
    width="300"
  />
  <div
    class="box-border flex w-[90%] flex-col justify-start pb-4 pt-3 sm:h-full sm:w-[51%] sm:px-4 sm:pb-5 sm:pt-4 2xl:pl-7 2xl:pr-10"
  >
    <h5
      class="mb-1 font-display text-[12px] font-bold uppercase opacity-60 2xl:text-[13px]"
    >
      {subtitle}
    </h5>
    <h3
      class="mb-1 font-display text-xl font-bold leading-5 2xl:text-[27px] 2xl:leading-[29px]"
    >
      {title}
    </h3>
    <span class="ml-2 text-lg 2xl:text-xl">{formatDate(date)}</span>
    <p class="text-lg leading-6 2xl:text-xl">
      {description}
    </p>
    <a
      href={pdfUrl}
      class="mt-3 w-full rounded-lg bg-primary-800 py-2 text-center text-lg font-bold text-emerald-50 sm:mt-auto 2xl:text-xl"
      >Descargar bases</a
    >
  </div>
</article>
